<div class="container">
    <div class="col-md-6 offset-md-3">
        @if(atividadeId){
        <h1 class="text-center">Editar atividade</h1>
        } @else {
        <h1 class="text-center my-5">Cadastrar atividade</h1>
        }
        <form [formGroup]="formAtividade" (ngSubmit)="addAtividade()" class="mb-5">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome da atividade:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" [ngClass]="{
                    'is-invalid': formAtividade.get('nome')?.invalid && formAtividade.get('nome')?.touched,
                    'is-valid': formAtividade.get('nome')?.valid && formAtividade.get('nome')?.touched
                }" required />
                @if(formAtividade.get('nome')?.invalid && formAtividade.get('nome')?.touched){
                <div class="form-text text-danger">Nome é obrigatório.</div>
                }
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <input type="text" class="form-control" id="descricao" formControlName="descricao" [ngClass]="{
                    'is-invalid': formAtividade.get('descricao')?.invalid && formAtividade.get('descricao')?.touched,
                    'is-valid': formAtividade.get('descricao')?.valid && formAtividade.get('descricao')?.touched
                }" required />
                @if(formAtividade.get('descricao')?.invalid && formAtividade.get('descricao')?.touched){
                <div class="form-text text-danger">Descrição é obrigatório.</div>
                }
            </div>
            <div class="mb-3">
                <label for="prioridade" class="form-label">Prioridade:</label>
                <input type="text" class="form-control" id="prioridade" formControlName="prioridade" [ngClass]="{
                    'is-invalid': formAtividade.get('prioridade')?.invalid && formAtividade.get('prioridade')?.touched,
                    'is-valid': formAtividade.get('prioridade')?.valid && formAtividade.get('prioridade')?.touched
                }" required />
                @if(formAtividade.get('prioridade')?.invalid && formAtividade.get('prioridade')?.touched){
                <div class="form-text text-danger">Prioridade é obrigatório.</div>
                }
            </div>
            @if(formAtividade.invalid){
            <div class="form-text text-danger mb-4">Preencha todos os campos obrigatórios.</div>
            } @else {
            <div class="form-text text-success mb-4">Campos obrigatório preenchidos.</div>
            }
            <button type="submit" class="btn btn-success" [disabled]="formAtividade.invalid">Cadastrar</button>
            <button type="reset" class="ms-2 btn btn-danger">Limpar</button>
        </form>
    </div>
</div>