<div class="container">
    <div class="col-md-6 offset-md-3">
        @if(clienteId){
        <h1 class="text-center">Editar Cliente</h1>
        }@else{
        <h1 class="text-center">Cadastrar Cliente</h1>
        }
        <form [formGroup]="formCliente" (ngSubmit)="addCliente()"
            class="mb-5">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Cliente:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome"
                    [ngClass]="{
                        'is-invalid': formCliente.get('nome')?.invalid && formCliente.get('nome')?.touched,
                        'is-valid': formCliente.get('nome')?.valid && formCliente.get('nome')?.touched
                    }"
                    required />
                @if(formCliente.get('nome')?.invalid && formCliente.get('nome')?.touched){
                <div class="form-text text-danger">
                    Nome é obrigatório.
                </div>
                }
            </div>
            <div class="mb-3">
                <label for="fone" class="form-label">Telefone:</label>
                <input type="text" class="form-control" id="fone" formControlName="fone"
                    [ngClass]="{
                        'is-invalid': formCliente.get('fone')?.invalid && formCliente.get('fone')?.touched,
                        'is-valid': formCliente.get('fone')?.valid && formCliente.get('fone')?.touched
                    }"
                    required />
                @if(formCliente.get('fone')?.invalid && formCliente.get('fone')?.touched){
                <div class="form-text text-danger">
                    Telefone é obrigatório.
                </div>
                }
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="text" class="form-control" id="email" formControlName="email"
                    [ngClass]="{
                        'is-invalid': formCliente.get('email')?.invalid && formCliente.get('email')?.touched,
                        'is-valid': formCliente.get('email')?.valid && formCliente.get('email')?.touched
                    }" required />
                @if(formCliente.get('email')?.invalid && formCliente.get('email')?.touched){
                <div class="form-text text-danger">
                    E-mail é obrigatório.
                </div>
                }
            </div>
            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço:</label>
                <input type="text" class="form-control" id="endereco" formControlName="endereco"
                    [ngClass]="{
                        'is-invalid': formCliente.get('endereco')?.invalid && formCliente.get('endereco')?.touched,
                        'is-valid': formCliente.get('endereco')?.valid && formCliente.get('endereco')?.touched
                    }" required />
                @if(formCliente.get('endereco')?.invalid && formCliente.get('endereco')?.touched){
                <div class="form-text text-danger">
                    Endereço é obrigatório.
                </div>
                }
            </div>
            <div class="mb-3">
                <label for="fotoInput" class="form-label">Foto:</label>
                <input
                    type="file"
                    id="fotoInput"
                    class="form-control"
                    (change)="onFileSelected($event)"
                    accept="image/*">
            </div>
            @if(fotoPreviewUrl){
            <div class="mb-3">
                <img [src]="fotoPreviewUrl" alt="Pré-visualização da Foto" class="img-thumbnail"
                    style="max-width: 150px; max-height: 150px; object-fit: cover;">
            </div>
            }
            @if(formCliente.invalid){
            <div class="form-text text-danger mb-4">
                Preencha todos os campos obrigatórios.
            </div>
            }@else {
            <div class="form-text text-success mb-4">
                Campos obrigatórios preenchidos.
            </div>
            }
            <button type="submit" class="btn btn-primary" [disabled]="formCliente.invalid">Salvar</button>
            <button type="reset" class="ms-2 btn btn-danger">Limpar</button>
        </form>
    </div>
</div>
