<div class="container">
    <div class="col-md-6 offset-md-3">
        @if(usuarioId){
        <h1 class="text-center">Editar usuário</h1>
        } @else {
        <h1 class="text-center my-5">Cadastrar usuário</h1>
        }
        <form [formGroup]="formUsuario" (ngSubmit)="addUsuario()" class="mb-5">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do usuário:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" [ngClass]="{
                    'is-invalid': formUsuario.get('nome')?.invalid && formUsuario.get('nome')?.touched,
                    'is-valid': formUsuario.get('nome')?.valid && formUsuario.get('nome')?.touched
                }" required />
                @if(formUsuario.get('nome')?.invalid && formUsuario.get('nome')?.touched){
                <div class="form-text text-danger">Nome é obrigatório.</div>
                }
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{
                    'is-invalid': formUsuario.get('email')?.invalid && formUsuario.get('email')?.touched,
                    'is-valid': formUsuario.get('email')?.valid && formUsuario.get('email')?.touched
                }" required />
                @if(formUsuario.get('email')?.invalid && formUsuario.get('email')?.touched){
                <div class="form-text text-danger">E-mail é obrigatório.</div>
                }
            </div>
            @if(formUsuario.invalid){
            <div class="form-text text-danger mb-4">Preencha todos os campos obrigatórios.</div>
            } @else {
            <div class="form-text text-success mb-4">Campos obrigatório preenchidos.</div>
            }
            <button type="submit" class="btn btn-success" [disabled]="formUsuario.invalid">Cadastrar</button>
            <button type="reset" class="ms-2 btn btn-danger">Limpar</button>
        </form>
    </div>
</div>