<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center my-5">Cadastrar usuário</h1>
        <form [formGroup]="formUsuario" (ngSubmit)="addUsuario()" class="mb-5">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do usuário:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="text" class="form-control" id="email" formControlName="email" required />
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
            <button type="reset" class="ms-2 btn btn-danger">Limpar</button>
        </form>
    </div>
</div>