<div class="container mt-4">
    <div class="row">
        <h1 class="text-center">Selecione os Produtos para o Serviço</h1> @if(produtosOriginal.length > 0 ||
        produtosSelecionados.length > 0){ <div class="col">
            <h2 class="text-center">Produtos Disponíveis</h2>
            <div cdkDropList id="produtosOriginal" (cdkDropListDropped)="dropped($event, false)"
                [cdkDropListData]="produtosOriginal" class="lista" [cdkDropListConnectedTo]="['produtosSelecionados']">
                <div *ngFor="let produto of produtosOriginal" cdkDrag class="item">{{ produto.nome }}</div>
            </div>
        </div>
        <div class="col">
            <h2 class="text-center">Produtos Selecionados</h2>
            <div cdkDropList id="produtosSelecionados" [cdkDropListData]="produtosSelecionados"
                (cdkDropListDropped)="dropped($event, true)" class="lista" [cdkDropListConnectedTo]="['produtosOriginal']">
                <div *ngFor="let produto of produtosSelecionados" class="item" cdkDrag>{{ produto.nome }}</div>
            </div>
        </div>
        }@else {
        <h1 class="text-center">Não há produtos cadastrados!</h1>
        }
    </div>
</div>