.listas {
    display: flex;
    gap: 20px;
}

.lista {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    min-height: 400px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: move;
    /* Indica que é arrastável */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}