<div class="container">
    <div class="col-md-6 offset-md-3">
        @if(fornecedorId){
        <h1 class="text-center">Editar Fornecedor</h1>
        }@else {
        <h1 class="text-center">Cadastrar Fornecedor</h1>
        }
        <form [formGroup]="formFornecedor" (ngSubmit)="addFornecedor()" class="mb-5">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Fornecedor:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" 
                [ngClass]="{
                    'is-invalid': formFornecedor.get('nome')?.invalid &&
                    formFornecedor.get('nome')?.touched,
                    'is-valid': formFornecedor.get('nome')?.valid &&
                    formFornecedor.get('nome')?.touched
                    }" required />
                @if(formFornecedor.get('nome')?.pristine){
                <div class="form-text">* Campo obrigatório.</div>
                }
                @if(formFornecedor.get('nome')?.invalid &&
                formFornecedor.get('nome')?.touched){
                <div class="form-text text-danger">Nome é obrigatório.</div>
                }
            </div>
            <div class="mb-3">
                <label for="cnpj" class="form-label">CNPJ:</label>
                <input type="text" class="form-control" id="cnpj" formControlName="cnpj" 
                [ngClass]="{
                    'is-invalid': formFornecedor.get('cnpj')?.invalid &&
                    formFornecedor.get('cnpj')?.touched,
                    'is-valid': formFornecedor.get('cnpj')?.valid &&
                    formFornecedor.get('cnpj')?.touched
                    }" required maxlength="14" />
                @if(formFornecedor.get('cnpj')?.pristine){
                    <div class="form-text">* Campo obrigatório.</div>
                    <div class="form-text">CNPJ deve conter apenas dígitos.</div>
                }@else if(formFornecedor.get('cnpj')?.errors?.['minlength']){
                    <div class="form-text text-danger">CNPJ deve conter 14 dígitos.</div>
                }
            </div>
            <div class="mb-3">
                <label for="fone" class="form-label">Telefone:</label>
                <input type="text" class="form-control" id="fone" formControlName="fone" 
                [ngClass]="{
                    'is-invalid': formFornecedor.get('fone')?.invalid &&
                    formFornecedor.get('fone')?.touched,
                    'is-valid': formFornecedor.get('fone')?.valid &&
                    formFornecedor.get('fone')?.touched
                    }" required />
                @if(formFornecedor.get('fone')?.pristine){
                    <div class="form-text">* Campo obrigatório.</div>
                    <div class="form-text">Telefone deve conter apenas dígitos.</div>
                }@else if(formFornecedor.get('fone')?.errors?.['minlength'] ||
                    formFornecedor.get('fone')?.errors?.['maxlength']){
                    <div class="form-text text-danger">Telefone deve conter 11 dígitos.</div>
                }
            </div>
            @if(formFornecedor.invalid){
                <div class="form-text text-danger mb-4">Preencha todos os campos
                obrigatórios.</div>
            }@else {
                <div class="form-text text-success mb-4">Campos obrigatórios
                preenchidos.</div>
            }
            <button type="submit" class="btn btn-primary" [disabled]="formFornecedor.invalid">Cadastrar</button>
            <button type="reset" class="ms-2 btn btn-danger">Limpar</button>
        </form>
    </div>
</div>