<footer class="text-center py-3 mt-4 border-top bg-light">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
    <p class="col-md-4 mb-0 text-body-secondary">Agendamento de Lavagem - LavaCar</p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Início</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Agendamentos</a>
      </li>
      <!-- Definição de outros itens do menu -->
    </ul>
  </div>
</footer>

