<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">Gestão de Atividades</a>
        <button class="navbar-toggler" type="button" data-bstoggle="collapse" data-bs-target="#navbarSupportedContent"
            ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Atividades</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/atividades/cadastro-atividade"
                                routerLinkActive="active">Cadastrar atividade</a></li>
                        <li><a class="dropdown-item" routerLink="/atividades/listar-atividades"
                                routerLinkActive="active">Listar atividades</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Usuários</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/usuarios/cadastro-usuario"
                                routerLinkActive="active">Cadastrar usuário</a></li>
                        <li><a class="dropdown-item" routerLink="/usuarios/listar-usuarios"
                                routerLinkActive="active">Listar usuários</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>